html, body{
    background-color: #332652;
    margin: 0%;
    font-family: 'Bebas Neue', cursive;
}
.wrapper
{
    width: 100%;
}
.header
{
    width: 100%;
    padding: 0;

}
.logo{
    display: flex;
}

/* .head-content{
    background-color: #D0E7CA;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: left;
} */
/* .logo
{
    margin-left: 0;
    margin-right: auto;
} */
.menu{
    width: 100%;
     background-color: #D80997 ;
    text-align: center;
     border-top: 1px solid black;
     border-bottom:  1px solid black;    
     padding: 3px;
}

ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 30px;
    line-height: 200%;
    display: inline-block;
}
ol a{
    color: white;
    text-decoration: none;
    display: block;

}

ol > li{
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px solid black;
}
ol > li:hover
{
    background-color: #EBC234;
}
ol > li:hover > a{
    color: black;
}
ol > li:first-child
{
    border-left: 1px solid black;
}

.content
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 50px;
}
#topbar
{
       background-color: #284267;
       margin-top: 20px;
       margin-bottom: 20px;
       height: 200px;
     
}
#topbarL{
    float: left;
    width: 200px;
    text-align: center;
    border-right: 2px solid;
    }
    #topbarR{
     float: left;
     padding: 20px;
     width: 720px;
     font-size: 16px;
     text-align: justify;
    
    }
.footer
{
    text-align: center;
    background-color: black;
    padding: 30px;
    color: white;
}